body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin:0;
	padding:0;
	background: linear-gradient(to bottom, #00ffcc 0%, #33ccff 100%);

}

#submitBtn{
	background-color: grey;
	color:white;
	font-size:16px;
	margin-top:15px;
	border: none;
	border-radius:5px;
	width: 300px;
	height: 25px;
	
}
#submitBtn:hover{
	background-color:#3399ff;
	color: #ffffff;
}
label{
	font-size:25px;
	font-weight:bold;
}
p{
	font-size:35px;
}
#username{
	height: 25px;
	font-weight: bold;
}

.alert-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 400px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.alert {
  text-align: center;
  padding: 20px;
 
}