<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
<div class="container">
    <p>Enter your name here</p>
    <form action="/channel" method="post">
        <div>
           <label>Username:</label> <input type="text"  id="username" name="username"/>
        </div>
        <button type="submit" id="submitBtn"> Chat </button>
    </form>
</div>
<script type="text/javascript" src="/js/register.js"></script>
</body>